/Week02/data
/Week04/tj
/Week04/micro

/Week04/cat_face/

/Week04/tj/tom
/Week04/tj/jerry
/Week04/tj/tom_jerry_0
/Week04/tj/tom_jerry_1
/Week03/__MACOSX
/Week03/micro
/Week03/UCI HAR Dataset

/Week04/images
/Week04/QuickDraw10
/WeekA3/micro
/WeekA3/tj
/Week04/GoogleNews-vectors-negative300.bin.gz
/Week03/UCI HAR Dataset.zip
